<h2 id="header">Add a Room/Item</h2>

<center>
<button id="roomBtn" type="Button" class="btn btn-lg">Add Room</button>
<button id="itemBtn" type="Button" class="btn btn-lg">Add Item</button>
<br/><br/>

<%= form_tag('/rooms/create', multipart: true, id: 'addRoomForm') do %>
	<%= text_field_tag :name, nil, :placeholder => "Room Name (required)", :class => "form-control" %>
	<br/>
	<%= text_area_tag(:description, nil, :placeholder => "Description", :class => "form-control", size: "24x6") %>
	<br/>
	<%= text_field_tag :tags, nil, :placeholder => "Tags (separate with commas)", :class => "form-control" %>
	<br/>
	<p>Room Image (required):</p>
	<%= file_field_tag :imageURL, :class => "form-control" %>
  	<br/>
  	<%= submit_tag "Add Room", :html => { :class => "btn btn-lg" } %>
<% end %>

<%= form_tag('/items/create', multipart: true, id: 'addItemForm') do %>
	<%= text_field_tag :name, nil, :placeholder => "Item Name (required)", :class => "form-control" %>
	<br/>
	<%= text_area_tag(:description, nil, :placeholder => "Description", :class => "form-control", size: "24x6") %>
	<br/>
	Belongs to Room: <%= collection_select(:item, :room_id, Room.find_all_by_user_id(session[:user_id]), :id, :name, :prompt => "None") %>
	<br/><br/>
	<%= text_field_tag :tags, nil, :placeholder => "Tags (separate with commas)", :class => "form-control" %>
	<br/>
	<p>Item Image (required):</p>
	<%= file_field_tag :imageURL, :class => "form-control" %>
  	<br/>
  	<%= submit_tag "Add Item", :html => { :class => "btn btn-lg" } %>
<% end %>
</center>

<% if flash[:room_error] %>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#addRoomForm").show();
			$("#addItemForm").hide();
		});
	</script>
<% elsif flash[:item_error] %>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#addRoomForm").hide();
			$("#addItemForm").show();
		});
	</script>
<% else %>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#addRoomForm").hide();
			$("#addItemForm").hide();
		});
	</script>
<% end %>

<script type="text/javascript">
	$("#roomBtn").click(function(){
		$("#addItemForm").hide();
		$("#addRoomForm").show("medium");

		$("#header").text("Add a Room");
	});

	$("#itemBtn").click(function(){
		$("#addRoomForm").hide();
		$("#addItemForm").show("medium");

		$("#header").text("Add an Item");
	});


</script>