<div class="text-centered">
	<div class="pageTitle text-centered">
		<h2><%= @username %>'s Spaces</h2>
	</div>
	<button type="button" class="btn btn-lg" onclick="window.location.href='/spaces/add'">Add</button>
</div>

<div class="carouselLabel">
	<h4>My<br>&nbsp;&nbsp;Rooms</h4>
</div>
<%= render :partial => "layouts/carousel", :locals => {:items => @itemsArr, :carouselID => "carousel1", :nextPage => "/room"}%>

<div class = "text-centered">
	<br>
	<%= link_to "[View All Rooms]", "/spaces/rooms?username=" + @username %>
</div>


<div class="carouselLabel">
	<h4>My<br>&nbsp;&nbsp;Items</h4>
</div>
<div class="divCentered">
	<%= render :partial => "layouts/carousel", :locals => {:items => @itemsArr2, :carouselID => "carousel2", :nextPage => "/item"}%>
	<div class = "text-centered">
		<br>
	<%= link_to "[View All Items]", "/spaces/items?username=" + @username %>
</div>
</div>