<h2>What's Popular
  <p class="lead">See what other users have designed ordered by the last edited room.  Rooms surrounded by a dark red outline are rooms you already own in your spaces.</p>
</h2>
<center>
  <a href="/search/index">
    <button type="Button" class="btn btn-sm center">
      Search For More
    </button>
  </a>&nbsp;
  <a href="/spaces/index/<%= session[:user_id] %>">
    <button type="Button" class="btn btn-sm center">
      Go to Your Spaces
    </button>
  </a>
</center>
<br>
<div class="row">
  <% @new_items.each do |i| %>
  <div class="col-xs-6">
      <!-- <a href="/rooms/index/<%= i.id %>"> -->
      <a href="#moreInfoModal<%= i.id %>" data-toggle="modal">
          <div class="thumbnailContainer">
            <img src="/images/<%= i.imageURL %>" class="thumbnail img-responsive <% if i.user_id == session[:user_id] %>yourObject<% end %>">
          </div>
      </a>
  </div>

  <div class="modal fade" id="moreInfoModal<%= i.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= i.name %></h4>
      </div>
      <div class="modal-body">
        <img src="/images/<%= i.imageURL %>" class="thumbnail img-responsive">
        <center><p>Owned by: 
        <a href="/spaces/index/<%= i.user_id %>">
        <% if session[:user_id] == i.user_id %>
        you
        <% else %>
        <%= i.user.username %>
        <% end %>
        </a>
        </p></center>
      </div>
      <div class="modal-footer">
        <% if session[:user_id] != i.user_id %>
        <button type = "Button" class = "btn btn-default" onclick = "window.location.href = '/rooms/post_borrow?room=<%= i.id %>'" id="borrowButton">Copy Room</button>
        <% end %>
        <button type="button" class="btn btn-primary" onClick="window.location='/rooms/index/<%= i.id %>'">Go to Room Page</button>
      </div>
    </div>
  </div>
</div>
  <% end %>
  
  <% if @user.first_login == 1 %> 
    <%    @user.first_login = 0 %> 
    <%    @user.save            %> 
    <div class="modal fade" id="modal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>Welcome to VirtualSpace!</h4>
          </div>
          <div class = "modal-body text-centered">
              <p> Hi there <%= @user.username %>, welcome to VirtualSpace! 
                <br>
                <br>
                This app gives you a platform to showcase
                your personal spaces to the world. You'll become part of a vibrant community of designers and have 
                the chance to learn from, share with, and be inspired by them.
                <br>
                <br>
                Click "Start Tutorial" to go through a brief tutorial of the app, or click "Close" to begin exploring the app yourself.
                <br>
                <br>
                Have fun, and happy designing!
              </p>
            </div>
          <div class="modal-footer">
                <button type = "button" class = "btn btn-default pull-left" data-dismiss = "modal"> Close </button>

                <button id = "tutorial" type = "button" class = "btn btn-primary pull-right" data-dismiss = "modal" onclick = "startTutorial()";> 
                   Start Tutorial 
                </button>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => "layouts/tutorial" %>
  <% end %>


  <script type = "text/javascript">
    $(window).load(function(){
        $('#modal0').modal('show');
        $('#moreInfoModal').modal('hide');
    });  
  </script>
</div>
