<h2>Edit "<%= @room.name %>"</h2>

<%= form_tag('/rooms/update', multipart: true, id: 'editRoomForm') do %>
	<%= hidden_field_tag :room_id, @room.id %>
	<%= label_tag(:name, "Room Name") %>
	<%= text_field_tag :name, @room.name, :placeholder => "No name", :class => "form-control" %>
	<br/>
	<img src="/images/<%= @room.imageURL %>"/>
	<br/>
	<%= label_tag(:imageURL, "Upload new Image") %>
	<%= file_field_tag :imageURL, :class => "form-control" %>
  	<br/>
	<%= label_tag(:description, "Description") %>
	<%= text_area_tag(:description, @room.description, :placeholder => "No description", :class => "form-control", size: "24x6") %>
	<br/>
	<%= label_tag(:tags, "Tags") %>
	<%= text_field_tag :tag1, @tagString, :placeholder => "No tags", :class => "form-control" %>
	<br/>
  	<center><%= submit_tag "Save Changes", :html => {:class => "btn btn-lg", :id => "redButton"} %></center>
<% end %>

<br/>
<center>Not feelin' this style? <a href="/rooms/delete/<%= @room.id %>">Delete this room</a>!</center>