<h2><%= @room.name %></h2>
<!-- <button type = "Button" class = "btn btn-lg" onclick = "window.location.href = '/rooms/edit/<%= @room.id %>'">Edit</button> -->

<img src="/images/<%= @room.imageURL %>"/>

<div>
	<b>Description:</b>
	<br/>
	<%= @room.description %>
</div>

<div class="divCentered">
	<br>
	<b> Items: </b>
	<% if @items %>
		<%= render :partial => "layouts/carousel", :locals => {:items => @room.items, :carouselID => "carousel2", :nextPage => "/items/index"} %>
	<% else %>
		No items
	<% end %>
</div>

<div>
	<br/>
	<b>Tags:</b> 
	<br/>
	<% @tags.each do |t| %>
		<%= t.name %> 
	<% end %>
</div>

<br/><br/>

<% if session[:user_id] ==  @room.user_id%>
<center><button type = "Button" class = "btn btn-lg" onclick = "window.location.href = '/rooms/edit/<%= @room.id %>'">Edit Room</button></center>
<% end %>