<h2><%= @room.name %></h2>
<center><p>Owned by: 
<a href="/spaces/index/<%= @room.user_id %>">
<% if session[:user_id] == @room.user_id %>
you
<% else %>
<%= @room.user.username %>
<% end %>
</a>
</p></center>

<img src="/images/<%= @room.imageURL %>"/>

<br/>
<b>Description:</b>
<br/>
<% if @room.description.length == 0 %>
	<p>No description</p>
<% else %>
	<%= @room.description %>
<% end %>

<% if session[:user_id] == @room.user_id %>
<br><br><center><button id="addItemToRoomBtn" type = "Button" class = "btn btn-sm" onclick = "addItem()">Add Item to Room</button></center>
<% end %>

<div id="addItemDiv">
	<br><%= form_tag('/items/create', multipart: true, id: 'addItemForm') do %>
	<%= text_field_tag :name, nil, :placeholder => "Item Name", :class => "form-control" %>
	<br/>
	<%= text_area_tag(:description, nil, :placeholder => "Description", :class => "form-control", size: "24x6") %>
	<%= hidden_field(:item, :room_id, :value => @room.id) %>
	<br/>
	<%= text_field_tag :tags, nil, :placeholder => "Tags (separate with commas)", :class => "form-control" %>
	<br/>
	<%= file_field_tag :imageURL, :class => "form-control" %>
  	<br/>
  	<%= submit_tag "Add Item", :html => { :class => "btn btn-lg" } %>
<% end %>
</div>

<div class="divCentered">
	<br>
	<b> Items: </b>
	<% if @items.count != 0 %>
		<%= render :partial => "layouts/carousel", :locals => {:items => @room.items, :carouselID => "carousel2", :nextPage => "/items/index"} %>
	<% else %>
		<p>No items</p>
	<% end %>
</div>

<div>
	<br/>
	<b> Tags: </b> 
	<br/>
	<% if @tags.count == 0 %>
		<p>No tags</p>
	<% else %>
		<% @tags.each do |t| %>
		<button type = "Button" class = "btn btn-xs" onclick = "window.location.href = '/search/index?search=<%= t.name %>'"><%= t.name %></button>
		<% end %>
	<% end %>
</div>

<br/><br/>

<% if session[:user_id] ==  @room.user_id%>
<center><button type = "Button" class = "btn btn-lg" onclick = "window.location.href = '/rooms/edit/<%= @room.id %>'">Edit Room</button></center>
<% else %>
	<center><button type = "Button" class = "btn btn-lg" onclick = "window.location.href = '/rooms/post_borrow?room=<%= @room.id %>'" id="borrowButton">Borrow</button></center>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		$("#addItemDiv").hide();
	});

	function addItem(){
		if ($("#addItemToRoomBtn").text() == "Add Item to Room"){
			// show form
			$("#addItemToRoomBtn").text("Cancel Adding Item");
			$("#addItemDiv").show("medium");
		} else {
			$("#addItemToRoomBtn").text("Add Item to Room");
			$("#addItemDiv").hide("medium");
		}
	}
</script>