<h2>Edit "<%= @item.name %>"</h2>

<%= form_tag('/items/update', multipart: true, id: 'editRoomForm') do %>
	<%= hidden_field_tag :item_id, @item.id %>
	<%= label_tag(:name, "Item Name") %>
	<%= text_field_tag :name, @item.name, :placeholder => "No name", :class => "form-control" %>
	<br/>
	<img src="/images/<%= @item.imageURL %>"/>
	<br/>
	<%= label_tag(:imageURL, "Upload new Image") %>
	<%= file_field_tag :imageURL, :class => "form-control" %>
  	<br/>
	<%= label_tag(:description, "Description") %>
	<%= text_area_tag(:description, @item.description, :placeholder => "No description", :class => "form-control", size: "24x6") %>
	<br/>
	Belongs to Room: <%= collection_select(:item, :room_id, Room.find_all_by_user_id(@user.id), :id, :name, prompt: true, :selected => @item.room_id) %>
	<br/><br/>
	<%= label_tag(:tags, "Tags (separate with commas)") %>
	<%= text_field_tag :tags, @tagString, :placeholder => "No tags", :class => "form-control" %>
	<br/>
  	<center><%= submit_tag "Save Changes", :html => {:class => "btn btn-lg", :id => "redButton"} %></center>
<% end %>

<br/>
<center>Not feelin' this piece? <a href="/items/delete/<%= @item.id %>">Delete this item</a>!</center>