<h2><%= @item.name %></h2>

<img src="/images/<%= @item.imageURL %>"/>

<div>
	<b>Description:</b>
	<br/>
	<%= @item.description %>
</div>

<div>
	<br>
	<b> Tags: </b> 
	<br/>
	<% @tags.each do |t| %>
	<button type = "Button" class = "btn btn-xs" onclick = "window.location.href = '/search/index?search=<%= t.name %>'"><%= t.name %></button>
	<% end %>
</div>

<br/><br/>

<% if session[:user_id] ==  @item.user_id%>
<center><button type = "Button" class = "btn btn-lg" onclick = "window.location.href = '/items/edit/<%= @item.id %>'">Edit Item</button></center>
<% else %>
<center><button type = "Button" class = "btn btn-lg" onclick = "borrowClicked()" id="borrowButton">Borrow</button></center>
<% end %>
<div id="roomSelect">
	<br><p>Select a room in which to place the item.</p>
	<select>
		<option value="None">None</option>
	</select>
	<center><button type = "Button" class = "btn btn-lg" onclick = "confirmClicked()">Confirm</button></center>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#roomSelect").hide();
	});

	function borrowClicked(){
		if ($("#borrowButton").text() == "Borrow"){
			$("#borrowButton").text("Cancel Borrow");
			$("#borrowButton").removeClass("btn-lg");
			$("#borrowButton").addClass("btn-sm");
		} else {
			$("#borrowButton").text("Borrow");
			$("#borrowButton").removeClass("btn-sm");
			$("#borrowButton").addClass("btn-lg");
		}

		$("#roomSelect").toggle("medium");
	}
</script>
