<h2><%= @item.name %></h2>
<center><p>Owned by: 
<a href="/spaces/index/<%= @item.user_id %>">
<% if session[:user_id] == @item.user_id %>
you
<% else %>
<%= @item.user.username %>
<% end %>
</a>
</p></center>

<% if session[:user_id] ==  @item.user_id%>
	<center><button type = "Button" class = "btn btn-sm" onclick = "window.location.href = '/items/edit/<%= @item.id %>'">Edit Item</button></center>
<% else %>
	<center><button type = "Button" class = "btn btn-sm" onclick = "borrowClicked()" id="borrowButton">Copy Item</button></center>
<% end %>
<div id="roomSelect">
	<br><p>Select a room in which to place the item.</p>

	<input type="hidden" id="itemID" value="<%= @item.id %>">
	<select id="borrowRoomSelector">
		<option value=-1>None</option>
		<% @user.rooms.each do |room| %>
			<option value=<%= room.id %>><%= room.name %></option>
		<% end %>
	</select>
	<br><br>
	<center><button type = "Button" class = "btn btn-sm" onclick = "confirmClicked()">Confirm</button></center>
</div><br/>

<img src="<%= @item.imageURL %>"/>

<div>
	<b>Description:</b>
	<br/>
	<% if @item.description.length == 0 %>
		<p>No description</p>
	<% else %>
		<%= @item.description %>
	<% end %>
</div>

<br/>
<b>In Room:</b> 
<% if @item.room %>
<a href="/rooms/index/<%= @item.room.id %>"><%= @item.room.name %></a>
<% else %>
None
<% end %>

<div>
	<br>
	<b> Tags: </b> 
	<br/>
	<% if @tags.count == 0 %>
		<p>No tags</p>
	<% else %>
		<% @tags.each do |t| %>
		<button type = "Button" class = "btn btn-xs" onclick = "window.location.href = '/search/index?search=<%= t.name %>'"><%= t.name %></button>
		<% end %>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#roomSelect").hide();
	});

	function borrowClicked(){
		if ($("#borrowButton").text() == "Borrow"){
			$("#borrowButton").text("Cancel Borrow");
			$("#borrowButton").removeClass("btn-lg");
			$("#borrowButton").addClass("btn-sm");
		} else {
			$("#borrowButton").text("Borrow");
			$("#borrowButton").removeClass("btn-sm");
			$("#borrowButton").addClass("btn-sm");
		}

		$("#roomSelect").toggle("medium");
	}

	function confirmClicked(){
		newURL = "/items/post_borrow?room="+$("#borrowRoomSelector").val()+"&item="+$("#itemID").val();
		window.location.href = newURL;
	}
</script>
